* {
  margin: 0;
  padding: 0;
}

/* nav */

.navbar-items {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
  background-color: #265057;
  font-size: 20px;
  box-shadow: 0px 3px 15px #b3b3b3;
  align-items: center;
  font-family: "Kalam", cursive;
  height: 85px;
}

.navbar-items a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: #c2273b;
}

.logo {
  width: 200px;
  height: auto;
}


#presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.texte {
  padding: 40px 40px;
  text-align : justify;
}
 .texte h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;

 }




/*slider*/
.antoine h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;


} 
.antoine {
  padding: 50px 50px;
  
}

.slider {
  width: 640px;
  overflow: hidden;
  margin: 100px auto;
}

.slides {
  width: 400%;
  animation: slide 15s infinite;
}

.slide {
  float: left;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  33.333% {
    transform: translateX(-640px);
  }
  66.666% {
    transform: translateX(-1280px);
  }
  99.999% {
    transform: translateX(-1920px);
  }
  100% {
    transform: translateX(0px);
  }
}


/*bouton reserver */

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -50px ;
}

.button {
  font-family: 'New Tegomin', serif;
  background-color: rgb(39, 165, 165);
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0, 4s;

}

.button:hover {
  background: #c2273b;;
  color: #ffff;
}


.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.8);
    left:0;
    
  }

.popup-content {
  height: 370px;
  width: 600px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  background-color: #265057;
  margin-top: 25px;
}

.popup-content h2 {
  font-family:  'Lato', sans-serif;
  font-size: 1.5em;
  color: white;
  align-self: flex-start;
  position: absolute;
  margin-top: 1%;
  margin-bottom: 3%;
}

input {
  margin: 15px auto;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid gray;
}
input[type="email"]{
  margin-bottom: 33px;

}

select {
  border: 1px solid gray;
  width: 60%;
  padding: 5px;
  display: flex;
  align-self: flex-start;
  margin-top: 40px;
}

.popup p {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-self: flex-start;
  margin-top: 6%;
  color: white;
}

input[type="number"] {
  width: 11%;
  position: absolute;
  margin: 1px 20px 1px 100px;
  padding: 3px;
  margin-top: -4%;
}

.close {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}


#menu h1 {
  font-size: 40px;
  font-family: Didot, serif;
  margin: 50px 0px;
  text-align: center;
  color: black;
}

.grillemenu {
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    grid-gap: 15px;      
}

.grid-menu {
    width: 350px;
    height: 350px;
}


.grid-menu p {
  opacity: 0;
  transition: all 0.3s;
}

.grid-menu:hover p {
  opacity: 1;
}
.grid-menu:hover img { 
  opacity:0.7
}

.introductionmenu {
  display:block;
  padding: 30px;
  text-align: justify;
  text-indent: 30px;
  margin-left: 300px;
  margin-right: 300px;
}

.imagemenu {
  width: 350px; 
  height: 350px; 
  object-fit: cover; 
  position: absolute;
  overflow: hidden;
  text-align:center; 
  z-index: -1;
}
/*

.menuofmoment {
display: flex;
justify-content: center;
}
*/

.namemenu {
font-family: Snell Roundhand, cursive;
font-weight: bold;
text-align: center;
font-size: 30px;
color: #da8937;
}

.descriptionmenu {
font-family: Didot, serif;
text-align: center;
font-style: bold;
margin-top: 20px;
font-size: 15px;
}

.buttonmenu {
font-family: Didot, serif;
text-align: center;
font-style: bold;
margin-top: 20px;
font-size: 15px;
}




footer {
 
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  height: 50px;
}

.contenu-footer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #265057;
  color: whitesmoke;
  font-family: "Baloo 2", cursive;
}

.plan {
  display : grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin : 16px;

}

.list-horaires {
  list-style: none;
  padding: 0px 0px 0px 0px;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 16px;
}

.list-contact {
  list-style: none;
  padding: 0px 0px 0px 0px;
  display: grid;
  grid-column: 1 / 2;
  margin: 16px;
}



.follow {
  display: grid;
  margin: 16px;
}

#logo-fbk {
  width: 40px;
  display: flex;
  justify-content: flex-start;
}

#logo-insta {
  width: 40px;
  display: flex;
  justify-content: flex-end;
}

#plan {
  width: 250px;
}
 #plan:hover {
   width: 470px; 
 }